.section_1
	background-image: url('../images/section1.jpg')
	-webkit-background-size: cover
	background-size: cover

	.logo
		max-width: 20rem
		margin-top: 35%
		margin-left: 15%

	.specbutton
		position: absolute
		top: 42%
		right: 3rem
		@include size(3.5rem)
		@include border-radius(100%)
		transform: translateY(-50%)

	form
		margin-top: 60%
		box-shadow: 1px 1px 5px grey
		@include border-radius()
		padding: 5rem 3rem 4rem


.section_2
